html {
  font-size: 15px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #000;
}
body.no-scroll {
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}

/* Blocks*/
/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}
.container--footer {
  background-color: white;
}

/* Header-menu */
.header-menu {
  width: 100%;
  background-color: #BA0000;
  padding: 1rem 0;
}
.header-menu .header-menu__inner {
  display: flex;
  justify-content: space-between;
  color: #FFF;
  font-size: 0.93rem;
}
.header-menu .header-menu__inner .header-menu__left .header-menu__lang {
  position: relative;
  cursor: pointer;
  padding-right: 1.4rem;
}
.header-menu .header-menu__inner .header-menu__left .header-menu__lang:after {
  content: "";
  width: 8px;
  height: 8px;
  border-top: solid 1.5px #FFF;
  border-right: solid 1.5px #FFF;
  position: absolute;
  top: 45%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%) rotate(135deg);
}
.header-menu .header-menu__inner .header-menu__right {
  display: flex;
}
.header-menu .header-menu__inner .header-menu__right .header-menu__cont {
  display: flex;
  cursor: pointer;
}
.header-menu .header-menu__inner .header-menu__right .header-menu__cont .menu__image {
  margin-right: 1rem;
}
.header-menu .header-menu__inner .header-menu__right .header-menu__cont .menu__image svg {
  width: 20px;
  height: 20px;
  fill: #FFF;
}
.header-menu .header-menu__inner .header-menu__right .header-menu__cont .menu__text {
  margin-right: 2rem;
}
@media (max-width:540px) {
  .header-menu .header-menu__inner .header-menu__right .header-menu__cont .menu__text {
    display: none;
  }
}
.header-menu .header-menu__inner .header-menu__right .header-menu__country {
  position: relative;
  padding-right: 1.4rem;
  cursor: pointer;
}
.header-menu .header-menu__inner .header-menu__right .header-menu__country:after {
  content: "";
  width: 8px;
  height: 8px;
  border-top: solid 1.5px #FFF;
  border-right: solid 1.5px #FFF;
  position: absolute;
  top: 36%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%) rotate(135deg);
}

/* Header */
.header {
  padding: 2rem 0;
  background-color: #FFCC00;
  position: relative;
}
.header.fixed {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #FFCC00;
  padding: 0.8rem 0;
}
@media (max-width:771px) {
  .header.fixed {
    padding: 0.5rem 0;
  }
}
@media (max-width:771px) {
  .header {
    padding: 1.5rem 0;
  }
}
@media (max-width:540px) {
  .header {
    padding: 1rem 0;
  }
}
.header .header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__inner .header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border: solid 1px #BA0000;
  border-radius: 50%;
  background-color: #BA0000;
  box-shadow: 0 0 4px #BA0000;
  transition: box-shadow 0.2s linear;
}
@media (max-width:991px) {
  .header .header__inner .header__search {
    display: none;
  }
}
.header .header__inner .header__search svg {
  width: 13px;
  height: 14px;
  fill: #FFF;
}
.header .header__inner .header__search:hover {
  box-shadow: 0 0 15px #BA0000;
}

/* nav */
.nav {
  display: flex;
  height: 100%;
}
.nav.show {
  display: flex;
}
@media (max-width:991px) {
  .nav {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    flex-direction: column;
    text-align: right;
    background-color: #FFCC00;
    width: 100%;
    height: auto;
  }
}
.nav .nav__link {
  position: relative;
  margin-right: 2.33rem;
  font-size: 0.93rem;
  color: #BA0000;
  text-transform: uppercase;
  text-decoration: none;
  transition: text-decoration 0.2s linear;
}
@media (max-width:991px) {
  .nav .nav__link {
    margin-right: 0;
    padding: 0.5rem 1rem;
  }
}
.nav .nav__link:last-child {
  margin-right: 0;
}
.nav .nav__link:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #BA0000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.2s linear;
}
@media (max-width:991px) {
  .nav .nav__link:after {
    display: none;
  }
}
.nav .nav__link:hover:after {
  width: 100%;
}
@media (max-width:991px) {
  .nav .nav__link:hover {
    text-decoration: underline;
  }
}
.nav .nav__link--active:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #BA0000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.2s linear;
}
@media (max-width:991px) {
  .nav .nav__link--active:after {
    display: none;
  }
}

/* burger */
.burger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px 0;
}
.burger:focus {
  outline: none;
}
@media (max-width:991px) {
  .burger {
    display: block;
  }
}
.burger .burger__item {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #BA0000;
  font-size: 0;
  color: transparent;
  position: relative;
}
.burger .burger__item:before, .burger .burger__item:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #BA0000;
  position: absolute;
  left: 0;
  z-index: 1;
}
.burger .burger__item:before {
  top: -8px;
}
.burger .burger__item:after {
  bottom: -8px;
}
.burger--active .burger__item {
  transform: rotate(-45deg);
}
.burger--active .burger__item:before {
  top: 0;
  transform: rotate(90deg);
}
.burger--active .burger__item:after {
  width: 0;
}

/* Intro */
.intro {
  width: 100%;
  padding: 10.66rem 0 12rem;
  background: linear-gradient(45deg, #BA0000 20%, transparent, rgba(192, 192, 192, 0)), url("../images/intro/intro.jpg") center no-repeat;
  background-size: cover;
}
@media (max-width:771px) {
  .intro {
    padding: 4.66rem 0 6rem;
  }
}
@media (max-width:540px) {
  .intro {
    padding: 2.66rem 0 4rem;
  }
}
.intro .intro__inner .intro__title {
  font-size: 4.66rem;
  color: #FFF;
  line-height: 1.1;
  position: relative;
  margin-bottom: 4.8rem;
}
@media (max-width:540px) {
  .intro .intro__inner .intro__title {
    font-size: 2.66rem;
  }
}
.intro .intro__inner .intro__title:after {
  content: "";
  width: 100px;
  height: 4px;
  background-color: #FFCC00;
  position: absolute;
  bottom: -3rem;
  left: 0;
}
.intro .intro__inner .intro__text {
  font-size: 1.33rem;
  color: #FFCC00;
  width: 100%;
  max-width: 750px;
  line-height: 1.5;
  margin-bottom: 2.33rem;
}
@media (max-width:540px) {
  .intro .intro__inner .intro__text {
    font-size: 1rem;
  }
}
.intro .intro__inner .intro__menu {
  display: flex;
  list-style: none;
}
.intro .intro__inner .intro__menu .intro__list {
  font-size: 1.33rem;
  color: #FFF;
  text-transform: uppercase;
  margin-right: 3.4rem;
  margin-bottom: 2.4rem;
  position: relative;
}
@media (max-width:540px) {
  .intro .intro__inner .intro__menu .intro__list {
    font-size: 0.8rem;
  }
}
.intro .intro__inner .intro__menu .intro__list:last-child {
  margin-right: 0;
}
.intro .intro__inner .intro__menu .intro__list:after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #FFCC00;
  position: absolute;
  bottom: 6px;
  right: -1.7rem;
}
.intro .intro__inner .intro__menu .intro__list:last-child:after {
  width: 0;
}
.intro .intro__inner .intro__btn {
  display: flex;
}

/* BTNS */
.btns {
  font-size: 0.8rem;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  border: solid 2px #FFF;
  border-radius: 25px;
  margin-right: 1.33rem;
  padding: 1rem 2.8rem;
  box-shadow: 0 0 4px #BA0000;
  transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear, box-shadow 0.2s linear;
  /*MODificators*/
}
@media (max-width:540px) {
  .btns {
    font-size: 0.5rem;
    padding: 0.8rem 2.2rem;
  }
}
.btns:hover {
  color: #BA0000;
  background-color: #FFCC00;
  border-color: #FFCC00;
  box-shadow: 0 0 10px #FFCC00;
}
.btns--features {
  background-color: #A00000;
  border-color: transparent;
  margin-right: 0;
}
.btns--modal {
  font-size: 1rem;
  color: #FFCC00;
  border-color: #FFCC00;
  box-shadow: none;
  margin-right: 0;
  border-radius: 30px;
}

/* services */
.services {
  padding: 6rem 0;
  overflow: hidden;
}
@media (max-width:771px) {
  .services {
    padding: 3rem 0;
  }
}
@media (max-width:540px) {
  .services {
    padding: 1rem 0;
  }
}
.services .services__header {
  position: relative;
  margin-bottom: 2rem;
}
.services .services__header .services__title {
  font-size: 10rem;
  color: rgba(119, 119, 119, 0.2);
  text-transform: uppercase;
}
@media (max-width:771px) {
  .services .services__header .services__title {
    font-size: 6rem;
    text-align: center;
  }
}
@media (max-width:540px) {
  .services .services__header .services__title {
    font-size: 4rem;
    text-align: center;
  }
}
.services .services__header .services__subtitle {
  font-size: 3.33rem;
  color: #BA0000;
  position: absolute;
  top: 50%;
  left: 1%;
  z-index: 1;
  transform: translate3d(0, -50%, 0);
}
@media (max-width:771px) {
  .services .services__header .services__subtitle {
    font-size: 1.33rem;
    left: 50%;
    transform: translate3d(-100%, -50%, 0);
  }
}
@media (max-width:540px) {
  .services .services__header .services__subtitle {
    font-size: 0.8rem;
    left: 50%;
    transform: translate3d(-100%, -50%, 0);
  }
}
.services .services__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 -1.5rem;
}
.services .services__inner .services__col {
  width: 25%;
  padding: 0 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:1170px) {
  .services .services__inner .services__col {
    width: 50%;
  }
}
@media (max-width:540px) {
  .services .services__inner .services__col {
    width: 100%;
  }
}
.services .services__inner .services__col .services__item {
  max-width: 270px;
  margin-bottom: 2rem;
}
@media (max-width:540px) {
  .services .services__inner .services__col .services__item {
    margin-bottom: 1rem;
  }
}
.services .services__inner .services__col .services__item .services__photo {
  display: block;
  max-width: 100%;
  height: auto;
}
.services .services__inner .services__col .services__item .services__caption {
  font-size: 1.33rem;
  text-transform: uppercase;
  margin: 1.6rem 0 0.53rem;
}
.services .services__inner .services__col .services__item .services__caption a {
  text-decoration: none;
  color: #BA0000;
  transition: text-decoration 0.2s linear;
}
.services .services__inner .services__col .services__item .services__caption a:hover {
  text-decoration: underline;
}
.services .services__inner .services__col .services__item .services__text {
  font-size: 1.06rem;
  color: #777777;
  line-height: 1.6;
  margin-bottom: 0.53rem;
}
.services .services__inner .services__col .services__item .services__link {
  text-decoration: none;
  font-size: 1.06rem;
  color: #000;
  transition: text-decoration 0.2s linear;
  position: relative;
}
.services .services__inner .services__col .services__item .services__link:hover {
  text-decoration: underline;
}
.services .services__inner .services__col .services__item .services__link:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent #BA0000;
  line-height: 0;
  position: absolute;
  top: 50%;
  right: -1.3rem;
  transform: translateY(-50%);
}
.services .services__inner .services__col .services__item .services__form {
  padding: 2rem;
  background-color: #BA0000;
}
.services .services__inner .services__col .services__item .services__form .services__form--title {
  font-size: 1.33rem;
  color: #FFF;
  position: relative;
  margin-bottom: 3.33rem;
}
.services .services__inner .services__col .services__item .services__form .services__form--title:after {
  content: "";
  height: 2px;
  width: 70px;
  background-color: #FFCC00;
  position: absolute;
  bottom: -1.46rem;
  left: 0;
}
.services .services__inner .services__col .services__item .services__form .services__form--text {
  font-size: 1.06rem;
  color: #FFF;
  line-height: 1.625;
  margin-bottom: 1rem;
}
.services .services__inner .services__col .services__item .services__form .services__select {
  margin-bottom: 2.3rem;
  position: relative;
  background-color: #FFCC00;
}
.services .services__inner .services__col .services__item .services__form .services__select:after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: solid 1px #FFCC00;
  border-right: solid 1px #FFCC00;
  position: absolute;
  top: 50%;
  right: 1.4rem;
  z-index: 1;
  transform: translateY(-50%) rotate(135deg);
  pointer-events: none;
}
.services .services__inner .services__col .services__item .services__form .services__select select {
  width: 100%;
  background: #9D0000;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1.03rem;
  font-family: inherit;
  color: #FFF;
  padding: 1rem 4.53rem 1rem 1.5rem;
  outline: none;
  cursor: pointer;
}
.services .services__inner .services__col .services__item .services__form .services__select select:focus {
  outline: 0;
}

/* about */
.about {
  width: 100%;
  height: 720px;
  padding: 9rem 0;
  background: url("../images/about/about.png") center no-repeat;
  background-size: cover;
}
@media (max-width:1170px) {
  .about {
    display: none;
  }
}
.about .about__title {
  font-size: 3.33rem;
  color: #FFF;
}
.about .about__play {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border: solid 1px #FFCC00;
  border-radius: 50%;
  background-color: #FFCC00;
  box-shadow: 0 0 4px #FFCC00;
  transition: box-shadow 0.2s linear;
  margin: 3rem auto 0;
}
.about .about__play svg {
  width: 18px;
  height: 22px;
  fill: #BA0000;
}
.about .about__play:hover {
  box-shadow: 0 0 15px #FFCC00;
}
.about .about__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -1rem;
}
.about .about__inner .about__col {
  width: 33.333%;
  padding: 0 1rem;
  position: relative;
}
.about .about__inner .about__col .about__item {
  width: 100%;
  max-width: 370px;
  position: absolute;
  top: 13rem;
  left: 1rem;
  z-index: 1;
  box-shadow: 0 0 4px #777777;
  transition: box-shadow 0.2s linear;
}
.about .about__inner .about__col .about__item:hover {
  box-shadow: 0 0 25px #777777;
}
.about .about__inner .about__col .about__item .about__photo {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 1.6rem;
}
.about .about__inner .about__col .about__item .about__caption {
  font-size: 1.33rem;
  padding-left: 2rem;
}
.about .about__inner .about__col .about__item .about__caption a {
  color: #BA0000;
  text-decoration: none;
  transition: text-decoration 0.2s linear;
}
.about .about__inner .about__col .about__item .about__caption a:hover {
  text-decoration: underline;
}
.about .about__inner .about__col .about__item .about__menu {
  display: flex;
  flex-direction: column;
  font-size: 1.03rem;
  padding: 2rem;
}
.about .about__inner .about__col .about__item .about__menu .about__link {
  list-style: none;
  color: #777777;
  margin-bottom: 0.4rem;
  text-decoration: none;
  transition: text-decoration 0.2s linear;
  padding-left: 1.5rem;
  position: relative;
}
.about .about__inner .about__col .about__item .about__menu .about__link:hover {
  text-decoration: underline;
}
.about .about__inner .about__col .about__item .about__menu .about__link:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 10px;
  border-color: transparent transparent transparent #FFCC00;
  line-height: 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* express */
.express {
  width: 100%;
  padding: 20.5rem 0 6.66rem;
}
@media (max-width:1170px) {
  .express {
    padding: 0 0 6.66rem;
  }
}
.express .express__inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -4.33rem;
}
@media (max-width:1170px) {
  .express .express__inner {
    margin: 0 auto;
  }
}
.express .express__inner .express__col {
  width: 50%;
  padding: 0 4.33rem;
  margin-bottom: 2rem;
}
@media (max-width:1170px) {
  .express .express__inner .express__col {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width:540px) {
  .express .express__inner .express__col {
    display: none;
  }
}
.express .express__inner .express__col .express__form {
  background-color: #BA0000;
  min-height: 533px;
  height: auto;
  position: relative;
}
.express .express__inner .express__col .express__form .express__title {
  display: flex;
}
.express .express__inner .express__col .express__form .express__title .express__title__item {
  width: 50%;
  text-align: center;
  padding: 1rem 6.33rem;
  background-color: #FFCC00;
  font-size: 0.93rem;
  color: #BA0000;
  text-transform: uppercase;
  cursor: pointer;
}
.express .express__inner .express__col .express__form .express__title .express__title__item--active {
  background-color: #BA0000;
  color: #FFF;
}
.express .express__inner .express__col .express__image {
  border: solid 20px #FFCC00;
  border-radius: 10px;
  width: 433px;
  height: 499px;
  position: relative;
}
.express .express__inner .express__col .express__image .express__photo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 1;
}
@media (max-width:1170px) {
  .express .express__inner .express__col .express__image .express__photo {
    top: 1rem;
    left: 1rem;
  }
}
.express .express__inner .express__col .express__image .express__logo {
  position: absolute;
  top: 32rem;
  left: 2rem;
  z-index: 2;
}

/* accordion */
.accordion {
  padding: 2.66rem;
}
.accordion--show {
  display: none;
}
.accordion .accordion__item {
  margin-bottom: 1.33rem;
  /*MODIFICATORS*/
}
.accordion .accordion__item .accordion__header {
  padding: 1rem 1.4rem;
  border: solid 2px #FFF;
  position: relative;
  cursor: pointer;
}
.accordion .accordion__item .accordion__header:after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: solid 1px #FFF;
  border-right: solid 1px #FFF;
  position: absolute;
  top: 50%;
  right: 1.4rem;
  z-index: 1;
  transform: translateY(-50%) rotate(135deg);
}
.accordion .accordion__item .accordion__header:before {
  content: "";
  width: 2px;
  height: 50px;
  background-color: #FFF;
  position: absolute;
  top: 0;
  right: 50px;
  z-index: 1;
}
.accordion .accordion__item .accordion__header .accordion__title {
  font-size: 0.93rem;
  color: #FFF;
  text-transform: uppercase;
}
.accordion .accordion__item .accordion__content {
  display: none;
  border: solid 2px #FFF;
  border-top: none;
  padding: 1rem 1.4rem;
}
.accordion .accordion__item .accordion__content .accordion__text {
  font-size: 1.06rem;
  color: #FFF;
  margin-bottom: 0.93rem;
}
.accordion .accordion__item .accordion__content .accordion__link {
  display: block;
  font-size: 1.06rem;
  text-decoration: none;
  color: #FFF;
  transition: text_decoration 0.2s linear, color 0.2s linear;
  position: relative;
  padding-left: 1.5rem;
}
.accordion .accordion__item .accordion__content .accordion__link:hover {
  text-decoration: underline;
  color: #FFCC00;
}
.accordion .accordion__item .accordion__content .accordion__link:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 10px;
  border-color: transparent transparent transparent #FFCC00;
  line-height: 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.accordion .accordion__item--active .accordion__content {
  display: block;
}
.accordion .accordion__item--active .accordion__header {
  background-color: #FFCC00;
}
.accordion .accordion__item--active .accordion__header .accordion__title {
  color: #BA0000;
}
.accordion .accordion__item--active .accordion__header:after {
  transform: rotate(-45deg);
}
.accordion .accordion__item--active .accordion__header:before {
  background-color: #BA0000;
}

/* features */
.features {
  width: 100%;
  height: auto;
  padding: 6rem 0 6.66rem 0;
  background-color: #BA0000;
}
@media (max-width:991px) {
  .features {
    padding: 4rem 0 4.66rem 0;
  }
}
.features .features__inner .features__title {
  font-size: 2rem;
  color: #FFF;
  margin-bottom: 1.8rem;
}
.features .features__inner .features__content {
  display: flex;
  justify-content: space-between;
}
@media (max-width:991px) {
  .features .features__inner .features__content {
    display: block;
  }
}
.features .features__inner .features__content .features__text {
  font-size: 1.03rem;
  color: #FFF;
  width: 100%;
  max-width: 660px;
}
@media (max-width:991px) {
  .features .features__inner .features__content .features__text {
    margin-bottom: 2rem;
  }
}

/* client */
.client {
  width: 100%;
  height: auto;
  padding: 4.67rem 0;
}
@media (max-width:1170px) {
  .client {
    padding: 3.67rem 0;
  }
}
@media (max-width:991px) {
  .client {
    padding: 2.67rem 0;
  }
}
@media (max-width:771px) {
  .client {
    padding: 1.67rem 0;
  }
}
.client .client__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -1rem;
}
@media (max-width:1170px) {
  .client .client__inner {
    justify-content: center;
  }
}
.client .client__inner .client__col {
  width: 25%;
  padding: 0 1rem;
}
@media (max-width:1170px) {
  .client .client__inner .client__col {
    display: flex;
    justify-content: center;
    width: 50%;
  }
}
@media (max-width:540px) {
  .client .client__inner .client__col {
    width: 100%;
  }
}
.client .client__inner .client__col .client__item {
  margin-bottom: 2rem;
  border: solid 1px transparent;
  max-height: 129px;
  max-width: 270px;
  overflow: hidden;
  padding: 3rem 0;
  background-color: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.2s linear;
}
.client .client__inner .client__col .client__item:hover {
  border-color: #BA0000;
}
.client .client__inner .client__col .client__item a {
  text-decoration: none;
}

/* footer */
.footer {
  width: 100%;
  background: linear-gradient(90deg, #BA0000, #FFCC00);
  padding: 0 2.66rem;
}
.footer .footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 311px;
  background: url("../images/footer/1.jpg") left no-repeat, url("../images/footer/2.jpg") right no-repeat, #FFF;
}
@media (max-width:1170px) {
  .footer .footer__inner {
    background: #FFF;
  }
}
.footer .footer__inner .footer__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.footer .footer__inner .footer__content .footer__col {
  margin-right: 2rem;
}
@media (max-width:771px) {
  .footer .footer__inner .footer__content .footer__col {
    margin-right: 0;
    width: 50%;
  }
}
@media (max-width:540px) {
  .footer .footer__inner .footer__content .footer__col {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
@media (max-width:771px) {
  .footer .footer__inner .footer__content .footer__col .footer__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width:540px) {
  .footer .footer__inner .footer__content .footer__col .footer__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer .footer__inner .footer__content .footer__col .footer__item .footer__caption {
  font-size: 1.33rem;
  color: #BA0000;
  text-transform: uppercase;
  margin-bottom: 1.86rem;
}
.footer .footer__inner .footer__content .footer__col .footer__item .footer__text {
  display: flex;
  flex-direction: column;
  font-size: 0.93rem;
}
.footer .footer__inner .footer__content .footer__col .footer__item .footer__text .footer__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #777777;
  margin-bottom: 0.5rem;
  transition: text-decoration 0.2s linear, color 0.2s linear;
  position: relative;
  padding-left: 1.5rem;
}
.footer .footer__inner .footer__content .footer__col .footer__item .footer__text .footer__link:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 10px;
  border-color: transparent transparent transparent #BA0000;
  line-height: 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.footer .footer__inner .footer__content .footer__col .footer__item .footer__text .footer__link:hover {
  text-decoration: underline;
  color: #FFCC00;
}
.footer .footer__inner .footer__content .footer__col .footer__item .footer__text .footer__link--social:hover {
  color: #017EDF;
}

/* Modal */
.modal {
  display: none;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: scroll;
}
.modal.show {
  display: flex;
}
.modal .modal__dialog {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background-color: #535151;
  position: relative;
}
.modal .modal__dialog--sm {
  max-width: 900px;
}
.modal .modal__dialog .modal__close {
  width: 39px;
  height: 39px;
  padding: 0;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s linear;
  outline: none;
}
.modal .modal__dialog .modal__close:hover {
  transform: rotate(90deg);
}

/* Modal-worrk */
.modal-work {
  display: flex;
}
@media (max-width:991px) {
  .modal-work {
    display: none;
  }
}
.modal-work .modal-work__preview {
  width: 65%;
  position: relative;
  overflow: hidden;
}
.modal-work .modal-work__preview .slick-slider {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.modal-work .modal-work__preview .slick-slider .slick-list {
  height: 100%;
}
.modal-work .modal-work__preview .slick-slider .slick-list .slick-track {
  height: 100%;
}
.modal-work .modal-work__preview .slick-slider .slick-list .slick-track .modal-work__photo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
}
.modal-work .modal-work__preview .slick-slider .slick-dots {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  bottom: 1.4rem;
  left: 0;
}
.modal-work .modal-work__preview .slick-slider .slick-dots li.slick-active button {
  background: #FFF;
}
.modal-work .modal-work__preview .slick-slider .slick-dots li button {
  width: 11px;
  height: 11px;
  padding: 0;
  border: 1px solid #FFF;
  border-radius: 50%;
  background: transparent;
  font-size: 0;
  color: transparent;
  margin: 0 0.5rem;
  cursor: pointer;
  outline: none;
}
.modal-work .modal-work__content {
  width: 35%;
  padding-left: 2rem;
}
.modal-work .modal-work__content .modal-work__header .modal-work__title {
  font-size: 2rem;
  color: #BA0000;
  text-transform: uppercase;
  margin-top: 2rem;
}
.modal-work .modal-work__content .modal-work__header .modal-work__info {
  font-size: 1.5rem;
  color: #FFCC00;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.modal-work .modal-work__content .modal-work__header .modal-work__info span {
  margin: 0 1rem;
}
.modal-work .modal-work__content .modal-work__client .modal-work__client__title {
  font-size: 1.3rem;
  color: #BA0000;
}
.modal-work .modal-work__content .modal-work__client .modal-work__client__agency {
  font-size: 1rem;
  color: #FFCC00;
  margin-bottom: 2rem;
}
.modal-work .modal-work__content .modal-work__text {
  font-size: 0.8rem;
  padding-right: 7rem;
  margin-bottom: 3rem;
  color: #FFCC00;
}
.modal-work .modal-work__content .modal-work__footer {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem 2rem 0;
}
.modal-work .modal-work__content .modal-work__footer .modal-work__btn {
  border: none;
  background: none;
  text-transform: uppercase;
  color: #BA0000;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

/* Contact */
.contact {
  display: flex;
}
.contact .contact__left {
  width: 45%;
  padding: 2rem;
}
.contact .contact__left .modal__title {
  font-size: 3rem;
  color: #FFCC00;
  text-transform: uppercase;
  line-height: 1;
}
.contact .contact__left .modal__subtitle {
  font-size: 1.2rem;
  color: #FFCC00;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.contact .contact__left .contact__info {
  margin: 0 0 2rem 0;
  padding: 0;
  list-style: none;
  color: #FFCC00;
  font-size: 1rem;
}
.contact .contact__left .contact__info li {
  margin-bottom: 0.7rem;
}
.contact .contact__left .contact__info li img {
  margin-right: 0.5rem;
}
.contact .contact__left .contact__info li:last-child {
  margin-bottom: 0;
}
.contact .contact__left form .label {
  display: inline-block;
  font-size: 1rem;
  color: #FFCC00;
  margin-bottom: 1rem;
  font-family: inherit;
}
.contact .contact__left form .input {
  display: block;
  width: 100%;
  font-family: inherit;
  padding: 1.4rem 1.8rem;
  background-color: #535151;
  border: 2px solid #FFCC00;
  border-radius: 35px;
  color: #FFCC00;
  font-size: 1rem;
  outline: none;
  margin-bottom: 2rem;
}
.contact .contact__left form .input::placeholder {
  color: rgba(255, 204, 0, 0.5);
}
.contact .contact__left form .input--area {
  resize: none;
}
.contact .contact__left .modal__btn {
  display: flex;
  flex-direction: row-reverse;
}
.contact .contact__right {
  width: 55%;
  background: url("../images/modals/2.jpg") center no-repeat;
  background-size: cover;
}

/*# sourceMappingURL=style.css.map */
