
$red:#BA0000;
$yellow:#FFCC00;
$white:#FFF;
$black:#000;
$gray:#777777;

$DirIntro:"../images/intro/";
$DirAbout:"../images/about/";
$DirFooter:"../images/footer/";
$DirModal:"../images/modals/";

$giant:"max-width:1170px";
$big:"max-width:991px";
$med:"max-width:771px";
$sm:"max-width:540px";

