@import "../vars";
.features {
  width: 100%;
  height: auto;

  padding: 6rem 0 6.66rem 0;

  background-color: $red;

  @media ($big) {
    padding: 4rem 0 4.66rem 0;
  }

  .features__inner {

    .features__title {
      font-size: 2rem;
      color: $white;

      margin-bottom: 1.8rem;

    }
    .features__content {
      display: flex;
      justify-content: space-between;
      
      @media ($big) {
        display: block;
      }

      .features__text {
        font-size: 1.03rem;
        color: $white;

        width: 100%;
        max-width: 660px;

        @media ($big) {
          margin-bottom: 2rem;
        }
      }
    }
  }
}